.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  display: block;
}

.canvas[data-visible='true'] {
  opacity: 1;
}
