@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark font-display min-h-screen transition-colors duration-300;
  @apply opacity-90;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-background-light dark:bg-background-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full border-4 border-solid border-transparent bg-clip-content hover:bg-primary dark:hover:bg-primary;
}

/* Selection */
::selection {
  @apply bg-primary text-black;
}

/* Focus styles matching source */
:focus-visible {
    @apply outline-none ring-4 ring-primary ring-offset-4 ring-offset-background-light dark:ring-offset-background-dark;
}
