@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display min-h-screen transition-colors duration-300;
}

.grid-bg {
    background-image: radial-gradient(circle at 2px 2px, rgba(15, 146, 240, 0.1) 1px, transparent 0);
    background-size: 24px 24px;
}
.dark .grid-bg {
    background-image: radial-gradient(circle at 2px 2px, rgba(15, 146, 240, 0.05) 1px, transparent 0);
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-background-light dark:bg-background-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full border-4 border-solid border-transparent bg-clip-content hover:bg-slate-400 dark:hover:bg-slate-600;
}

/* Selection */
::selection {
  @apply bg-primary/30 text-primary;
}
